.DS_Store
node_modules
dist
.env
config
private.pem
public.pem
api_data.xlsx
updated_api_data.xlsx
atomic-box-397600-445e9d0ea33c.json
my_custom_model.json
my_custom_model.weights.bin

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
